<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <system.serviceModel>
    
    <standardEndpoints>
      <mexEndpoint>
        <standardEndpoint name="mexendpoint"/>
      </mexEndpoint>
    </standardEndpoints>

    <bindings>
      <netTcpBinding>
        <binding name="nettcpbinding" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <readerQuotas
            maxArrayLength="2147483647"
            maxDepth="2147483647"  
            maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"
            maxStringContentLength="2147483647"/>
          <reliableSession ordered="true"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="standartbehavior">
          <serviceMetadata httpGetUrl="false" httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="128" maxConcurrentInstances="16" maxConcurrentSessions="512"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Server.Server" behaviorConfiguration="standartbehavior">
        
        <endpoint 
          address="mex" 
          binding="mexTcpBinding" 
          contract="IMetadataExchange"
          isSystemEndpoint="true"
          listenUriMode="Explicit">
        </endpoint>
        
        <endpoint 
          address=""
          binding="netTcpBinding"
          bindingConfiguration="nettcpbinding"
          bindingName="servicebinding"
          contract="WCFLibrary.IServer"
          listenUriMode="Explicit">
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:51515/"/>
          </baseAddresses>
        </host>
        
      </service>
    </services>
    
  </system.serviceModel>
  
</configuration>